<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../resource/asset/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../resource/asset/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../resource/asset/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="../resource/css/style.css">
<script src="../resource/asset/js/jquery-3.1.1.min.js"></script>
<script src="../resource/asset/js/bootstrap.min.js"></script>